body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC);
}

p {font-size: 16px;}
/*NAV BAR SECTION*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
/*INTRO SECTION*/
.bg-1{
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
/*ME SECTION*/
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
/*FIND SECTION*/
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
/*CONTAINER FOR INTRO ME FIND SECTION*/
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
/*FOOTER*/
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
/*HELPER MARGIN H3 IMG*/
.margin {margin-bottom: 45px;}

/*COUNT-UP NUMBERS*/
.counter{
    color: yellow;
    font-size: 50px;
}
.SUB{
    font-size: 50px;
    color: yellow;
}